/* Global */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Container */
.container {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    min-height: 100%; 
    background-color: black; 
}

/* Heading */
.heading {
    padding-top: 1em;
}

/* Result */
.result {
    display: flex;
    justify-content: center;
}

.player, .computer {
   padding: 15px; 
   margin: 0 2em 1em 2em;
   min-width: 200px;
   min-height: 200px;
   border: 1px solid white;
   border-radius: 5px;
   background-color: white;
   color: black;
    
}

#playerResult, #computerResult {
    height: 150px;
}

#playerScore, #computerScore {
    color: black;
}


/* Choice */
button.choice {
    min-width: 150px;
    min-height: 150px;
    background-color: white;
    border-radius: 5px;
    border: none;
}

button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 5px solid #442ed4;
}

.playerChoice {
    height: 100px;
}

button.playAgain {

    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    margin: 1em;
}